html{
    height:100%;
}

body{
    height:100%;
}

#map {
        width: 100%;
        height: 100%;
        background-color: grey;
      }
      
#title{
    color:white;
    position:absolute;
    z-index:1;
    background-color:black;
    padding:5px;
}